name: Run Postman Collection with Newman

on:
  push:
    branches:
      - main
    paths:
      # Ahora detectará cambios en cualquier archivo dentro de la carpeta de Postman
      - 'postman/collections/**' 
      - '.github/workflows/**'
  pull_request:
    branches:
      - main
    paths:
      - 'postman/collections/**'
  workflow_dispatch: # Botón manual activado

jobs:
  newman-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install Newman and htmlextra
        run: |
          npm install -g newman newman-reporter-htmlextra

      - name: Run Newman collection
        run: |
          # Usamos la ruta exacta donde Postman está guardando el JSON con ID
          newman run "postman/collections/51642953-2d43d61d-09c4-40d3-9855-e4cf88b4dc10.json" -r htmlextra --reporter-htmlextra-export newman-report.html || true

      - name: Upload HTML report
        uses: actions/upload-artifact@v4
        with:
          name: newman-report
          path: newman-report.html
